.contacts {
    padding-bottom: 9.6rem;

    &__title {
        margin-bottom: $offset;
    }

    &__form {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        max-width: 37rem;
        margin: 0 auto;
        margin-bottom: 5.8rem;
        background-color: #fff;
        padding: 20px;
    }

    &__body {
        background-color: #7AA6D9;
        padding-top: 14.5rem;
        margin-top: -14.5rem;
    }

    &__body-container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 41%;
        color: #fff;
        padding-bottom: 46px;
    }

    &__body-title {
        color: #fff;
        box-shadow: none;
        margin-bottom: $offset;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        width: 100%;
        border: none;
        background: #FFFFFF;
        box-shadow: 2px 6px 6px rgba(46, 103, 145, 0.3), 10px 12px 16px rgba(47, 81, 120, 0.2);
        border-radius: 5px;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.45rem;
        margin-bottom: $offset;
        color: $accent;
        padding: 16px;
        svg {
            flex-shrink: 0;
            margin-left: 8px;
        }
    }

    &__text {
        p {
            margin-bottom: 1.25rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__map {
        width: 59%;
        padding-left: 40px;
        margin-bottom: -$offset;

        iframe {
            width: 100%;
            filter: drop-shadow(2px 12px 20px rgba(47, 81, 120, 0.2));
        }
    }
}
