.footer {
    color: #EDF1F5;
    
    &__wrapper {
        padding-top: 3.5rem;
        background-color: $main;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        margin: -20px;
        margin-bottom: 3.45rem;
    }
    
    &__col {
        margin: 20px;

        &--double {
            display: flex;
            margin: 0;
        }

        &--form {
            flex-basis: 360px;
        }

        &--logo {
            flex-basis: 149px;
        }

        &--links {
            flex-basis: 217px;
        }

        &--navigation {
            flex-basis: 210px;
        }
    }

    &__right {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    &__navigation {
        li {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 0.8rem;
            line-height: 0.9rem;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__links {
        li {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 0.8rem;
            line-height: 0.9rem;
            letter-spacing: 0.01em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $offset;
        margin: -0.8rem;
        li {
            margin: 0.8rem;
        }
        a {
            display: block;
        }
    }

    &__form {
        margin-top: 2.5rem;
    }

    &__bottom {
        text-align: center;
        border-top: 2px solid #465875;
        padding-bottom: 1.2rem;
        padding-top: 0.9rem;
    }
}
