.main-slider {
    padding-top: 3.6rem;
    padding-bottom: 5.8rem;
    
    .container {
        position: relative;
    }
    
    &__item {
        min-width: 33%;
        flex-shrink: 0;
        flex-grow: 1;
        width: auto;
        height: 15rem;
        img {
            height: 100%;
            width: 100%;
        }
        &--big {
            min-width: 67%;
        }
    }
    
    &__button-prev,
    &__button-next {
        position: absolute;
        z-index: 6;
        top: 50%;
        transform: translateY(-50%);
        left: 53px;
        transition: .3s ease;
        cursor: pointer;
        
        &.swiper-button-disabled {
            opacity: 0;
        }

        circle {
            transition: .3s;
        }
        &:hover {
            circle {
                opacity: 1;
            }
        }
    }

    &__button-next {
        left: auto;
        right: 53px;
    }
}